@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #0d1717;
  background: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 1180px;
  min-height: 100vh;
  background: #ffffff;
}

button,
input,
select,
textarea {
  font: inherit;
}
